body {
	background: url("../img/bg-02.svg");
	background-size: cover;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}

.landing-row {
	width: 100%;
	max-width: 600px;
	display: block;
	margin: auto;
	color: #ffffff;
}

.spacer {
	height: 9vh;
}

.title {
	font-size: 60px;
	color: white;
}

.subtitle {
	font-size: 20px;
	color: white;

}

.landing-img {
	height: 280px;
	margin-top: 2.5vh;
}
.header-img {
	height: 40px;
	margin-top: 2vh;
}

.nav-img {
	height: 60px;
	margin-top: 1.5vh;
    margin-bottom: 2.5vh;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.cneter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 200px;
}

.row-logo {
    padding: 0px 20px 20px 15px;

}

.row-logo-b {
    padding: 0 20px 20px 0px;
}

.row-logo-c {
    padding: 30px 20px 20px 15px;

}

.row-wallet {
	margin: .5rem 2%;
	min-height: .125rem;
}

.cardtext {
    font-size: 12px;

}

.card-heading {
	margin-top: 0px;
}


.drawer > div {
	width: 0px !important;
	-webkit-transition: width 1s !important;
  transition: width 1s !important;
}

@media only screen and (min-width : 723px) {
	.main {
		margin-left: 266px;
		margin-right: 20px;
	}
	.drawer > div {
		width: 256px !important;
	}
}