body {
	background: url("bg.png");
	background-size: cover;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}
header, main, footer {
	padding-left: 300px;
}

.spacer {
	height: 15vh;
}

.title {
	font-size: 60px;
}

.subtitle {
	font-size: 28px;
}

.landing-img {
	height: 280px;
	margin-top: 2.5vh;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
	.spacer {
		height: 2vh;
	}
}