body {
	background: url("bg-01.svg");
	background-size: cover;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}

.spacer {
	height: 15vh;
}

.title {
	font-size: 60px;
	color: white;
}

.subtitle {
	font-size: 28px;
	color: white;
}

.landing-img {
	height: 280px;
	margin-top: 2.5vh;
}

.drawer > div {
	width: 0px !important;
	-webkit-transition: width 1s !important;
  transition: width 1s !important;
}

@media only screen and (min-width : 723px) {
	.main {
		margin-left: 266px;
		margin-right: 20px;
	}
	.drawer > div {
		width: 256px !important;
	}
}